
@{
    ViewBag.Title = "Index";
}


<div id="item-list">
    @foreach (var item in Model)
    {
        <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:20px; min-height:450px;">

            <a href="@Url.Action("Details","Store",new { id = item.ItemId})">
                <img alt="@item.Title" src="@item.ItemUrl" style="height:300px" />
                <span style="font-size:20px; "> Price : @item.Price $</span>
            </a>
            </div>

            }

        </div>
